/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:16px 'Open Sans', sans-serif; background:#fff; color:#2b2b2b; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.2;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:13px 'Open Sans', sans-serif; color:#2b2b2b; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

p {
    margin-bottom: 15px;
    font-size: 13px;
    color: #2b2b2b;
}
main {
    display: block;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper,
.wrapper-contact-page {
    min-height: 100%;
}
    .wrapper:after,
    .wrapper-contact-page:after {
        content: '';
        display: block;
        width: 100%;
        height: 283px;
    }
    .wrapper-contact-page:after {
        height: 363px;
    }
.content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.wrap-header,
.wrap-video-block,
.shot-info-dog,
.wrap-footer {
    min-width: 1000px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    position: relative;
    margin-bottom: 25px;
    background: url("../images/header/bg_header.png") center no-repeat;
}
.wrap-header:after {
    content: '';
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    height: 25px;
    background: #1C9AE3;
}
    .header {
        overflow: hidden;
        padding-top: 20px;
    }
        .main-logo {
            float: left;
        }
        .box-contact {
            float: right;
            width: 625px;
            margin: 10px 0 15px;
            text-align: right;
        }
            .box-contact .img-contact {
                float: left;
                margin-top: 5px;
            }
            .box-contact a,
            .choose-language,
            .choose-language li {
                display: inline-block;
            }
            .box-contact a {
                position: relative;
                font-size: 14px;
                color: #1c9ae3;
                text-decoration: none;
                border-bottom: 1px dotted #1c9ae3;
            }
            .box-contact a:hover {
                border: none;
            }
            .box-contact .question {
                margin-left: 55px;
            }
                .box-contact .letter:before,
                .box-contact .question:before {
                    content: '';
                    display: block;
                    position: absolute;
                }
                .box-contact .letter:before {
                    top: 4px;
                    left: -22px;
                    width: 17px;
                    height: 12px;
                    background: url("../images/header/icon_post.png") no-repeat;
                }
                .box-contact .question:before {
                    top: 3px;
                    left: -20px;
                    width: 15px;
                    height: 15px;
                    background: url("../images/header/icon_answer.png") no-repeat;
                }
            .choose-language {
                margin-left: 35px;
            }
                .choose-language li:first-child {
                    margin-right: 15px;
                }
                    .choose-language .active a {
                        padding: 1px 4px;
                        color: #fff;
                        background: #1c9ae3;
                        border: none;

                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                    }
        .wrap-nav {
            float: right;
        }
            .nav {
                overflow: hidden;
            }
                .nav li {
                    float: left;
                    margin-left: 48px;
                }
                .nav li:first-child {
                    margin-left: 0;
                }
                    .nav li a {
                        display: block;
                        padding-bottom: 13px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #2b2b2b;
                        text-decoration: none;
                    }
                    .nav li a:hover,
                    .nav .active a {
                        padding-bottom: 10px;
                        border-bottom: 3px solid #F16B0A;
                    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-video-block {
    height: 342px;
    background: url("../images/content/bg_content.jpg") center no-repeat;
}
    .wrap-video {
        position: relative;
        float: right;
        width: 467px;
        height: 262px;
        margin-top: 37px;
    }
        .wrap-video:before,
        .wrap-video:after {
            content: '';
            display: block;
            position: absolute;
            width: 410px;
            height: 230px;
        }
        .wrap-video:before {
            top: -3px;
            left: -3px;
            background: #F2E5C3;
        }
        .wrap-video:after {
            bottom: -3px;
            right: -3px;
            background: #F16B0A;
        }
        .wrap-video img {
            position: relative;
            z-index: 2;
            display: block;
        }
        .icon-play {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            width: 69px;
            height: 69px;
            margin: -35px 0 0 -35px;
            background: url("../images/content/icon_play.png") no-repeat;
            text-indent: -9999px;
            cursor: pointer;
        }
        .icon-play:hover {
            opacity: 0.9;
        }
        .icon-video {
            display: block;
            position: absolute;
            top: 5px;
            left: -44px;
            width: 41px;
            height: 38px;
            background: url("../images/content/icon_video.jpg") no-repeat;
            text-indent: -9999px;
        }
.shot-info-dog {
    background: url("../images/content/bg_blue.jpg") center no-repeat;
}
.shot-info-dog .content {
    min-height: 280px;
}
    .big-foto-dog {
        position: absolute;
        bottom: 25px;
        left: -270px;
    }
    .description {
        position: relative;
        z-index: 2;
        float: right;
        width: 465px;
        margin-top: 30px;
        color: #fff;
        font-size: 14px;
    }
        .description strong {
            display: block;
            margin-bottom: 17px;
            font-size: 22px;
            font-weight: 600;
        }
        .description p {
            margin-bottom: 10px;
            color: #fff;
        }
        .list-type-circle {
            margin: 0 0 18px 18px;
            font-weight: bold;
        }
            .list-type-circle li {
                list-style-type: disc;
                padding-left: 20px;
                text-indent: -25px;
            }
        .btn {
            height: 38px;
            padding: 0 32px 0 22px;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            border: none;
            background: url("../images/content/bg_btn.png") no-repeat left;
            background-size: 100% 100%;
            cursor: pointer;
        }
.main-content {
    overflow: hidden;
    margin: 15px auto 35px;
    padding-top: 20px;
}
    .wrap-ads {
        float: left;
        width: 675px;
    }
    .wrap-ads-full-width {
        margin-bottom: 35px;
    }
        .header-section,
        .header-section-blue,
        .header-section-orange {
            position: relative;
            padding: 3px 5px 2px 0;
            margin-bottom: 25px;
            color: #fff;
            font-weight: 600;
            font-size: 23px;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .header-section-blue {
            background: #1D9BE4;
        }
        .icon-ad {
            padding-left: 85px;
        }
            .icon-ad:before {
                content: '';
                display: block;
                position: absolute;
                top: -20px;
                left: 8px;
                width: 57px;
                height: 51px;
                background: url("../images/content/icon_newspapers.png") no-repeat;
            }
        .list-ads {
            overflow: hidden;
            padding-top: 3px;
        }
            .list-ads li {
                position: relative;
                float: left;
                width: 214px;
                margin-left: 15px;
            }
            .wrap-ads-full-width .list-ads li {
                margin-left: 47px;
            }
            .list-ads li:first-child {
                margin-left: 3px;
            }
                .wrap-foto {
                    display: block;
                    position: relative;
                    margin-bottom: 18px;
                }
                    .wrap-foto:before,
                    .wrap-foto:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 203px;
                        height: 114px;
                    }
                    .wrap-foto:before {
                        top: -3px;
                        left: -3px;
                        background: #F2E5C3;
                    }
                    .wrap-foto:after {
                        bottom: -3px;
                        right: 0;
                        background: #F16B0A;
                    }
                    .wrap-foto img {
                        position: relative;
                        z-index: 4;
                        display: block;
                        height: 148px;
                        width: 211px;
                    }
                .header-article {
                    margin-bottom: 8px;
                }
                    .header-article a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .header-article a:hover {
                        text-decoration: underline;
                        color: #1d9be4;
                    }
                .border {
                    padding-bottom: 12px;
                    border-bottom: 1px solid #ddd;
                }
                .list-ads p {
                    margin-bottom: 10px;
                    font-size: 13px;
                }
                a.link-more-info {
                    float: right;
                    position: relative;
                    padding-right: 15px;
                    font-size: 13px;
                    color: #ec730a;
                }
                    a.link-more-info:after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 5px;
                        width: 11px;
                        height: 11px;
                        background: url("../images/content/icon_link.png") no-repeat;
                    }
    .wrap-articles {
        float: right;
        width: 280px;
    }
        .icon-article {
            padding-left: 82px;
        }
            .icon-article:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -11px;
                left: 10px;
                width: 58px;
                height: 57px;
                background: url("../images/content/icon_letter.png") no-repeat;
            }
        .list-article {

        }
            .list-article li {
                padding: 25px 0;
                border-top: 1px solid #ddd;
            }
            .list-article li:first-child {
                border: none;
            }
                .date {
                    display: block;
                    margin-bottom: 5px;
                    color: #0d85ca;
                    font-size: 12px;
                }
                .list-article p {
                    margin-bottom: 0;
                    font-size: 13px;
                }
    .wrap-list-gallery {
        overflow: hidden;
        width: 785px;
    }
        .list-gallery {
            width: 820px;
        }
            .list-gallery li {
                position: relative;
                float: left;
                width: 214px;
                margin: 0 59px 25px 0;
            }
/*----------------------------------ADVERTISINGS------------------------------------*/
.wrap-content {
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
    .wrap-content h1 {
        margin: 0 0 22px 10px;
        font-size: 24px;
        line-height: 16px;
    }

    .content-with-sidebar {
        overflow: hidden;
        padding: 0 0 35px 15px;
    }
        .content-header-cat {
            overflow: hidden;
            margin-bottom: 35px;
        }
            .content-header-cat li {
                position: relative;
                float: left;
                width: 375px;
                height: 200px;
                margin-left: 15px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .content-header-cat li:first-child {
                margin-left: 0;
            }
                .content-header-cat img {
                    width: 100%;
                    height: 200px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
                .content-header-cat h2 {
                    position: relative;
                    top: -37px;
                    overflow: hidden;
                    float: left;
                    width: 250px;
                    margin: 0 10px;
                    background-color: #1D9BE4;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                }
                .content-header-cat li:nth-child(even) h2 {
                    float: right;
                    background-color: #EC740A;
                }
                    .content-header-cat h2 a {
                        overflow: hidden;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        font-size: 16px;
                        line-height: 23px;
                        color: #ffffff;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                    }
                        .content-header-cat h2 a:after {
                            content: "";
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            width: 13px;
                            height: 13px;
                            -webkit-border-radius: 7px;
                            -moz-border-radius: 7px;
                            border-radius: 7px;
                            background: url("../images/content/link_arrow.png") no-repeat center #EA6C09;
                        }
                        .content-header-cat li:nth-child(even) h2 a:after {
                            background-color: #1D9BE4;
                        }
                        .content-header-cat h2 a span {
                            float: left;
                            margin: 0 25px 0 7px;
                            line-height: 23px;
                        }
                        .content-header-cat li:nth-child(even) h2 a span {
                            float: right;
                        }

        .wrap-recomend-ads {
            margin-bottom: 20px;
        }
            .header-recomend-ads {
                height: 31px;
                padding: 0 10px;
                margin-bottom: 20px;
                background-color: #EC740A;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
                .header-recomend-ads h2 {
                    font-size: 18px;
                    line-height: 29px;
                    color: #ffffff;
                }

                .list-advertisings li {
                    overflow: hidden;
                    margin-bottom: 13px;
                }
                    .list-advertisings .wrap-foto {
                        float: left;
                        width: 214px;
                        margin: 9px 15px 0 3px;
                    }
                    .list-advertisings .ads-content {
                        overflow: hidden;
                        margin-bottom: 11px;
                    }
                        .list-advertisings header {
                            height: 30px;
                            margin-bottom: 6px;
                            border-bottom: 1px solid #DDDDDD;
                        }
                            .list-advertisings h3 a {
                                font-weight: 700;
                                font-size: 16px;
                                text-decoration: none;
                            }
                            .list-advertisings h3 a:hover {
                                color: #1d9be4;
                                text-decoration: underline;
                            }
                            .price {
                                position: relative;
                                display: inline-block;
                                width: 108px;
                                margin-left: 6px;
                                background-color: #ECAF0A;
                                text-align: center;
                                font-size: 18px;
                                line-height: 36px;
                                color: #ffffff;
                                -webkit-border-radius: 8px;
                                -moz-border-radius: 8px;
                                border-radius: 8px;
                            }
                            .list-advertisings .price {
                                float: right;
                                width: 74px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                font-size: 13px;
                                line-height: 25px;
                            }
                                .price:before {
                                    content: "";
                                    position: absolute;
                                    left: -6px;
                                    top: 13px;
                                    border-top: 5px solid transparent;
                                    border-right: 6px solid #ECAF0A;
                                    border-bottom: 5px solid transparent;
                                }
                                .list-advertisings .price:before {
                                    left: -4px;
                                    top: 10px;
                                    border-top-width: 3px;
                                    border-right-width: 4px;
                                    border-bottom-width: 3px;
                                }
                                .price span {
                                    font-weight: 600;
                                }
                        .ads-content p {
                            margin-bottom: 3px;
                            font-size: 13px;
                            line-height: 18px;
                            letter-spacing: 0.12px;
                        }
                        .share-box {
                            overflow: hidden;
                            text-align: right;
                            font-size: 11px;
                            color: #535353;
                        }
                            .share-box > ul {
                                float: right;
                                margin-left: 5px;
                            }
                                .share-box > ul > li {
                                    float: left;
                                    line-height: 24px;
                                    margin-left: 12px;
                                    display: table-cell;
                                    vertical-align: middle;
                                }
                                .share-box > ul > li:first-child {
                                    margin-left: 0;
                                }
                                    .share-box > ul > li img {
                                        vertical-align: middle;
                                    }
                            .share-box span {
                                position: relative;
                                top: 5px;
                            }

        .wrap-all-ads {
            margin-bottom: 26px;
        }
            .header-all-ads {
                height: 31px;
                padding: 0 10px;
                margin-bottom: 20px;
                background-color: #F2E5C3;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
                .header-all-ads h2 {
                    font-size: 18px;
                    line-height: 29px;
                }
        .important-text {
            float: left;
            width: 440px;
            margin-bottom: 35px;
            font-size: 15px;
            color: #2b2b2b;
        }
        .menu-page {
            position: absolute;
            right: 0;
            top: 45px;
            float: right;
        }
            .menu-page header {
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: bold;
                color: #2b2b2b;
            }
            .menu-page-list {
                position: relative;
                width: 172px;
                padding: 5px 5px 12px 25px;
                background: #FFF59D;

                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .menu-page-list:before {
                content: '';
                display: block;
                position: absolute;
                left: 15px;
                top: -12px;
                width: 0;
                height: 0;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-bottom: 12px solid #FFF59D;
            }
                .menu-page-list li {
                    margin-bottom: 5px;
                    list-style-type: disc;
                    text-indent: -6px;
                }
                    .menu-page-list li a {
                        font-size: 14px;
                        text-decoration: none;
                        color: #2b2b2b;
                        border-bottom: 1px dotted #2b2b2b;
                    }
                    .menu-page-list li a:hover {
                        border: none;
                    }
/*--------------------------------ADVERTISING-PAGE----------------------------------*/
.prev-page {
    display: block;
    float: right;
    width: 31px;
    height: 21px;
    margin-top: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../images/content/prev-page.png") no-repeat center #1C9AE3;
}

    .slider-wrap {
        float: left;
        width: 370px;
        margin: 0 18px 10px 0;
    }
        .main-photo-wrap {
            position: relative;
        }
            .main-photo-slider {
                overflow: hidden;
                width: 100%;
                height: 261px;
                margin-bottom: 15px;
            }
                .main-photo-slider li {
                    height: 261px;
                    line-height: 261px;
                }
                    .slider-wrap-photo {
                        position: relative;
                        display: block;
                        width: 370px;
                        height: 261px;
                        line-height: 259px;
                        text-align: center;
                    }
                        .slider-wrap-photo:before,
                        .slider-wrap-photo:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 203px;
                            height: 114px;
                        }
                        .slider-wrap-photo:before {
                            top: 0;
                            left: 0;
                            background: #F2E5C3;
                        }
                        .slider-wrap-photo:after {
                            bottom: 0;
                            right: 0;
                            background: #F16B0A;
                        }
                        .main-photo-slider li img {
                            position: relative;
                            z-index: 4;
                            height: 255px;
                            width: 364px;
                            vertical-align: middle;
                        }
            .main-photo-wrap .prev,
            .main-photo-wrap .next {
                position: absolute;
                z-index: 10;
                display: block;
                width: 18px;
                height: 24px;
                top: 122px;
            }
            .main-photo-wrap .prev {
                left: 14px;
                background: url("../images/content/prev.png") no-repeat center;
            }
            .main-photo-wrap .next {
                right: 14px;
                background: url("../images/content/next.png") no-repeat center;
            }

        .movers-row {
            overflow: hidden;
            height: 79px;
            margin: 0 auto;
            text-align: center;
        }
            .movers-row li {
                float: left;
                margin-left: 17px;
            }
            .movers-row li:first-child {
                margin-left: 0;
            }
                .movers-row .slider-wrap-photo {
                    width: 112px;
                    height: 79px;
                    line-height: 77px;
                }
                    .movers-row .slider-wrap-photo:before,
                    .movers-row .slider-wrap-photo:after{
                        width: 61px;
                        height: 35px;
                    }
                    .movers-row li img {
                        position: relative;
                        z-index: 4;
                        width: 110px;
                        height: 77px;
                        vertical-align: middle;
                    }

    .advert-content header {
        overflow: hidden;
        padding-bottom: 12px;
        margin-bottom: 13px;
        border-bottom: 1px solid #DDDDDD;
    }
        .advert-content h1 {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

    .client-info {
        overflow: hidden;
        margin: 0;
        font-size: 14px;
    }
        .client-info li {
            position: relative;
            margin: 0 0 10px 24px;
        }
        .client-info li:first-child {
            margin-top: 16px;
        }
        .client-info li:before {
            content: "";
            position: absolute;
            left: -24px;
        }
        .client-name:before {
            top: -3px;
            width: 16px;
            height: 20px;
            background: url("../images/header/icon_name.png") no-repeat center;
        }
        .client-mail:before {
            top: 4px;
            width: 17px;
            height: 12px;
            background: url("../images/header/icon_post.png") no-repeat center;
        }
        .client-tell:before {
            top: 0;
            width: 14px;
            height: 14px;
            background: url("../images/header/icon_tel.png") no-repeat center;
        }
            .client-info li a {
                font-size: 14px;
                color: #1c9ae3;
            }
            .client-info a.show-all {
                text-decoration: none;
                border-bottom: 1px dotted #1c9ae3;
                font-size: 12px;
            }
            a.show-all:hover {
                border-bottom: none;
            }

    .advert-content .share-box {
        text-align: left;
        margin: 10px 0;
    }
        .advert-content .share-box span {
            top: 0;
            display: inline-block;
            margin-bottom: 6px;
        }
        .advert-content .share-box ul {
            float: left;
            margin-left: 0;
        }

    .advert-content p {
        line-height: 18px;
        margin-bottom: 4px;
    }
/*-----------------------------------ABOUT-DOG--------------------------------------*/
        .main {}
            .main p {
                line-height: 1.4;
            }
            .main-foto {
                float: left;
                width: 304px;
                height: 228px;
                margin: 0 13px 10px 0;
            }
            .wrap-characteristics-dog {
                overflow: hidden;
                margin: 25px 0 65px;
            }
                .wrap-characteristics-dog img {
                    float: left;
                    margin: 15px 0 0 35px;
                }
                .wrap-list-characteristics {
                    float: right;
                    width: 365px;
                }
                    .wrap-list-characteristics header {
                        margin-bottom: 5px;
                        padding-bottom: 5px;
                        font-size: 17px;
                        font-weight: bold;
                        color: #2b2b2b;
                        border-bottom: 1px solid #ddd;
                    }
                    .list-characteristics {}
                        .list-characteristics > li {
                            overflow: hidden;
                            margin-bottom: 6px;
                        }
                            .name-characteristic {
                                color: #1d9be4;
                                font-size: 13px;
                                font-weight: bold;
                            }
                            .list-stars {
                                float: right;
                            }
                                .list-stars li {
                                    float: right;
                                    width: 15px;
                                    height: 15px;
                                    margin-left: 8px;
                                    background: url("../images/content/star.png") no-repeat;
                                    text-indent: -9999px;
                                }
/*----------------------------------------------------------------------------------*/
/*------------------------------------SIDEBAR---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: left;
    width: 200px;
}
    .header-sidebar {
        height: 31px;
        padding-left: 10px;
        background-color: #1D9BE4;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
    }
        .header-sidebar h4 {
            line-height: 30px;
        }

    .list-categories {
        margin-bottom: 28px;
    }
        .list-categories li {
            padding: 0 10px;
            border-bottom: 1px solid #DDDDDD;
            line-height: 30px;
        }
            .list-categories li a {
                text-decoration: none;
            }
            .list-categories li a:hover {
                text-decoration: underline;
                color: #1d9be4;
            }

    .sidebar .btn {
        position: relative;
        width: 200px;
        padding: 0 30px 0 0;
        font-size: 14px;
    }
    .sidebar .plus {
        display: inline-block;
        position: relative;
        font-size: 24px;
        color: #ffffff;
    }
        .sidebar .plus:after {
            content: '+';
            display: block;
            position: absolute;
            right: 10px;
            top: 4px;
        }
    .private-ads {}
        .header-grey {
            padding: 5px 0;
            margin-bottom: 5px;
            color: #1d9be4;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            background: #EDEDED;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .list-private-ads {}
            .list-private-ads li {
                position: relative;
                margin-bottom: 12px;

                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
                .list-private-ads li a {
                    display: block;
                    text-decoration: none;
                }
                    .list-private-ads li img {
                        display: block;
                        width: 200px;
                        height: 107px;
                    }
                    .list-private-ads li header {
                        position: absolute;
                        bottom: 15px;
                        left: 3px;
                        width: 194px;
                        padding: 2px 0;
                        text-align: center;
                        color: #fff;
                        background: #1D9BE4;
                        font-size: 14px;
                        font-weight: 600;

                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                    }
        .contact-img {
            float: left;
        }
    .bottom-text {
        position: absolute;
        top: -30px;
        font-size: 16px;
        font-weight: 600;
        color: #1385c7;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    min-width: 1000px;
    height: 283px;
    margin-top: -283px;
    background: url("../images/footer/bg_footer.jpg") center no-repeat;
}
.wrap-footer-contact-page {
    min-width: 1000px;
    height: 363px;
    margin-top: -363px;
    background: url("../images/footer/contact_bg_footer.jpg") center no-repeat;
}
    .wrap-footer-contact-page .content {
        height: 363px;
    }
    .wrap-form-footer {
        position: relative;
        float: left;
        width: 465px;
        height: 218px;
        padding: 5px 10px;
        margin-top: 20px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .form-page {
        float: right;
        margin: 0 0 40px;
        background: #1385C7;
    }
        .wrap-form-footer .overview {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.3;
            filter: alpha(opacity=30);

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .wrap-form-footer .header-section {
            margin-bottom: 5px;
        }
        .form-footer {
            position: relative;
            z-index: 5;
        }
            .form-footer input {
                display: block;
                width: 450px;
                height: 28px;
                margin-bottom: 10px;
                padding-left: 15px;
                border: none;
                font-size: 14px;
                font-weight: 600;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .star-bg {
                background: url("../images/content/star-wrap.png") 6px 8px #fff no-repeat;
            }
            .form-footer .btn {
                width: auto;
                height: 38px;
                margin-top: 20px;
                font-size: 16px;

                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }
            .form-footer input::-webkit-input-placeholder {font-weight: 400;}
            .form-footer input::-moz-placeholder          {font-weight: 400;}
            .form-footer input:-moz-placeholder           {font-weight: 400;}
            .form-footer input:-ms-input-placeholder      {font-weight: 400;}

            .form-footer textarea {
                width: 460px;
                height: 65px;
                padding: 3px 0 3px 5px;
                resize: none;
                border: none;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .form-footer textarea::-webkit-input-placeholder {font: 400 14px "Open Sans";}
            .form-footer textarea::-moz-placeholder          {font: 400 14px "Open Sans";}
            .form-footer textarea:-moz-placeholder           {font: 400 14px "Open Sans";}
            .form-footer textarea:-ms-input-placeholder      {font: 400 14px "Open Sans";}
    .box-contact-footer {
        float: right;
        margin: 20px 270px 0 0;
    }
        .box-contact-footer .header-section {
            padding: 0;
        }
    .description-footer {
        position: absolute;
        bottom: 25px;
        display: inline-block;
        width: 650px;
        font-size: 22px;
        font-weight: 600;
        color: #fff;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------POPUPS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
    .free-ads-popup {
        width: 485px;
        height: 480px;
        margin: 0 auto;
    }
        a.btn-ads {
            display: inline-block;
            width: 220px;
            height: 27px;
            margin: 0 10px;
            text-align: center;
            font-size: 14px;
            line-height: 27px;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }
        a.free-ads {
            text-decoration: none;
            color: #ffffff;
            background: #1385C7;
        }
        a.paid-ads {
            color: #1385C7;
            background: #F6F6F6;
        }
        .free-ads-form {
            width: 485px;
            height: 430px;
            padding-top: 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px ;
            background: #1385C7;
        }
                .free-ads-form li {
                    overflow: hidden;
                    margin:0 0 10px 10px;
                }
                    .free-ads-form p {
                        font-size: 12px;
                        color: #ffffff;
}
                    .input-style {
                        width: 445px;
                        height: 28px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 14px;
                        color: #2b2b2b;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px ;
                        border: none;
                        background: #F6F6F6;
                    }
                    .name-wrap,
                    .email-wrap,
                    .tell-wrap {
                        position: relative;
                    }
                    .name-wrap:before,
                    .email-wrap:before,
                    .tell-wrap:before {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        top: 9px;
                        left: 2px;
                        background-image: url("../images/content/star-wrap.png");
                    }
                    .select-section-wrap {
                        position: relative;
                        float: left;
                    }
                    .select-section {
                        width: 465px;
                        height: 28px;
                        font-size: 14px;
                        color: #2b2b2b;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px ;
                        border: none;
                    }
                    .select-section-wrap:after{
                        content:"";
                        text-align: center;
                        line-height:32px;
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        right: 0;
                        top: 0;
                        pointer-events: none;
                        background-image: url("../images/content/select-wrap.png");
                    }
                    .list-add-file li {
                        float: left;
                        margin: 0 0 0 15px;
                    }
                    .list-add-file li:first-child {
                        margin: 0;
                    }
                        .list-add-file p {
                            margin: 0 0 10px 5px;
                        }
                            .add-file-name {
                                display: inline-block;
                                width: 205px;
                                height: 28px;
                                margin-bottom: 10px;
                                padding-left: 10px;
                                padding-right: 10px;
                                font-size: 14px;
                                line-height: 28px;
                                color: #2b2b2b;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px ;
                                border: none;
                                background:url("../images/content/add_photo.png") no-repeat right #F6F6F6 ;
                            }
                            .add-file {
                                opacity: 0;
                                display: none;
                            }
                    .description-wrap textarea {
                        width: 445px;
                        height:100px;
                        padding: 10px;
                        resize: none;
                        font-size: 14px;
                        color: #2b2b2b;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        border: none;
                        background: #F6F6F6;
                    }
                .btn-submit {
                    float: right;
                    margin: -5px 10px 0 0;
                }
/*----------------------------------BREAD-CRUMBS------------------------------------*/
.bread-crumbs {
    overflow: hidden;
    padding: 7px 0 14px;
}
    .bread-crumbs li {
        position: relative;
        float: left;
        margin: 0 10px;
    }
        .bread-crumbs li a {
            position: relative;
            text-decoration: none;
            font-size: 13px;
        }
        .bread-crumbs li a:hover {
            text-decoration: underline;
        }
        .bread-crumbs li a:before,
        .bread-crumbs li span:before {
            content: "";
            position: absolute;
            top: 5px;
            left: -10px;
            width: 1px;
            height: 9px;
            background-color: #2b2b2b;
        }
        .bread-crumbs li span:before {
            background-color: #1d9be4;
        }
        .bread-crumbs li:first-child a:before,
        .bread-crumbs li:first-child span:before {
            display: none;
        }
        .bread-crumbs li span {
            position: relative;
            font-size: 13px;
            color: #1d9be4;
        }
/*-----------------------------------PAGINATION-------------------------------------*/
.pagination-box {
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    color: #535353;
}
    .pagination-box span {
        vertical-align: top;
        line-height: 30px;
    }
    .pagination {
        display: inline-block;
    }
        .pagination li {
            float: left;
            margin: 0 5px;
        }
            .pagination li a,
            .pagination li span {
                display: block;
                width: 31px;
                height: 31px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                background-color: #F2E5C3;
                text-decoration: none;
                font-size: 16px;
                line-height: 31px;
                color: #535353;
                -webkit-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
            .pagination li span,
            .pagination li a:hover {
                background-color: #1D9BE4;
                color: #ffffff;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-----------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1920px) {
    .wrap-header,
    .wrap-video-block,
    .shot-info-dog,
    .wrap-footer {
        background-size: 100% 100%;
    }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
#bg-popup {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}
#wrap-popup {
    position: absolute;
    opacity: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#bg-popup .ovefview {
    position: fixed;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);

}
.icon-close_js:after {
    content: 'X';
    display: inline-table;
    position: absolute;
    top: -15px;
    right: -34px;
    width: 34px;
    height: 34px;
    color: #F98314;
    font: 24px verdana, sans-serif;
    text-align: center;
    cursor: pointer;
}
.show_js > ul, .show_js {
    display: block !important;
}
#wrap-popup {
    margin-top: 150px;
}
.list-private-ads header.bg-orange {
    background: #EC740A;
}